.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  /* padding: 10px; */
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(1, 15, 22);
}

.input {
  font-size: 18px;
  background-color: #e0edf0;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  border-radius: 4px;
  padding: 10px;
  color: black;

  caret-color: #090909;
}

.input:focus {
  outline: none;
}

.button {
  margin: auto;
  color: #090909;
  width: 180px;
  height: 50px;
  text-align: center;
  outline: none;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 40px;
  background: #e0edf0;
  border: 1px solid #e8e8e8;
  text-transform: capitalize;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.button:active {
  background: #cbe3f0;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
